/** Add css rules here for your application. */

body {
	background-color: #8291a4 !important;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.cargoOffersTable th {
	color:#FFFFFF;
	text-shadow:none;
}

.cargoOffersTable tr {
	margin-bottom:15px !important;
	border-bottom: 1px solid;
}

.cargoOffersTable tr td {

	background-color: #d0cbb5;
	border-color: #000000 !important;
	border:0px solid;
	border-bottom:1px solid;
	border-left: 1px groove #FFFFFF !important;

	text-align:center;

}

.cargoOffersTable tr td:first-child {
	
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	border-left: 0px solid;

}

.cargoOffersTable tr td:last-child {
	
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	border-right: none;

}
